server:
  port: 8084

spring:
  application:
    name: accounting-service
  datasource:
    url: jdbc:postgresql://accounting-db:5432/accounting
    username: accounting_user
    password: accounting_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: kafka:9092

management:
  endpoints:
    web:
      exposure:
        include: health,info

