server:
  port: 8082

spring:
  application:
    name: hr-service
  datasource:
    url: jdbc:postgresql://hr-db:5432/hr
    username: hr_user
    password: hr_pass
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  kafka:
    bootstrap-servers: kafka:9092

management:
  endpoints:
    web:
      exposure:
        include: health,info

app:
  jwt:
    secret: this_is_a_dev_only_secret_change_me
