server:
  port: 8085

spring:
  application:
    name: admin-service
  datasource:
    url: jdbc:postgresql://admin-db:5432/admin
    username: admin_user
    password: admin_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health,info

